.equipment {
    background: url(../images/second-bg.jpg);
    background-repeat: no-repeat;
    margin-top: 150px;
    @include breakpoint($bp-1441) {
        background-position: center;
    }
    @include breakpoint($bp-769) {
        margin-top: 75px;
    }
    &-content {
        margin-bottom: 150px;
        @include breakpoint($bp-769) {
            margin-bottom: 75px;
        }
    }
    &-li {
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
        color: #434343;
        margin-bottom: 15px;
        position: relative;
        padding-left: 30px;
        li {
            list-style-type: none;
        }
        li:before {
            position: absolute;
            top: 3px;
            left: 0px;
            font-weight: bold;
            font-size: 28px;
            line-height: 20px;
            color: $orange; 
            content: "•"; 
            padding-right: 22px; /* Отступ от маркера до текста */
        }
        @include breakpoint($bp-769) {
            font-size: 14px;
            line-height: 22px;
        }
    }
    &-img {
        max-width: 695px;
        img {
            max-width: 665px;
            @include breakpoint($bp-1441) {
                width: 100%;
            }

        }
        @include breakpoint($bp-997) {
            display: flex;
            justify-content: center;
            max-width: 100%;
        }
        @include breakpoint($bp-769) {
            margin-top: 45px;
        }
        @include breakpoint($bp-426) {
            display: none;
        }
    }
    &-block {
        display: flex;
        align-items: center;
        background: #052B5B;
        border-radius: 50px 10px;
        padding: 14px 30px;
        width: 548px;
        margin-top: -80px;
        position: relative;
        @include breakpoint($bp-1441) {
            width: 100%;
        }
        &__text {
            color: $white;
            font-size: 16px;
            font-weight: bold;
            line-height: 28px;
            @include breakpoint($bp-769) {
                font-size: 14px;
                line-height: 24px;
            }
            @include breakpoint($bp-426) {
                font-size: 12px;
                font-weight: bold;
                line-height: 18px;
            }
        }
        &__img {
            margin-right: 30px;
            img {
                @include breakpoint($bp-426) {
                    max-width: 40px;
                }
            }
        }
        @include breakpoint($bp-426) {
            margin-top: 0px;
        }
    }
}