.footer-second {
    background: url(../images/12-bg.jpg);
    background-repeat: no-repeat;
    padding: 130px 0 100px;
    &-form {
        margin-top: 60px;
    }
}
.w--1150 {
    max-width: 1150px!important;
}