.footer-second {
    background: url(../images/12-bg.jpg);
    background-repeat: no-repeat;
    padding: 150px 0 100px;
    &-form {
        margin-top: 60px;
    }
    @include breakpoint($bp-769) {
        padding: 65px 0 50px;
    }
}
.w--1150 {
    max-width: 1150px!important;
}