.header {
    background: #FAFAFA;
    &__tel {
        a {
            color: $orange;
            font-weight: bold;
            font-size: 22px;
            text-decoration: none;
            @include breakpoint($bp-1200) {
                font-size: 20px;
            }
            @include breakpoint($bp-426) {
                display: none;
            }
        }
    }
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0 18px;
}
.header__nav {
    @include breakpoint($bp-1024) {
        display: none;
    }
}
.ul-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.nav-li {
    font-weight: bold;
    margin-right: 43px;
    cursor: pointer;
    &:last-child {
        margin-right: 0px;
    }
    @include breakpoint($bp-1200) {
        font-size: 12px;
    }
}
.menu-burger__header {
	position: relative;
    width: 40px;
    height: 35px;
    display: none;
    margin-left: 10px;
    @include breakpoint($bp-1024) {
        display: block;
    }
}
.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
	height: 3px;
	width: 100%;
	position: absolute;
	background: #515758;
	margin: 0 auto;
}
.menu-burger__header span{
	top: 16px;
}
.menu-burger__header:after, .menu-burger__header:before{
	content: '';
}
.menu-burger__header:after{
	bottom: 5px;
}
.menu-burger__header:before{
	top: 5px;
}
.menu-burger__header.open-menu span {
	opacity:0; 
    transition: 0.5s; 
}
.menu-burger__header.open-menu:before {
	transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
}
.menu-burger__header.open-menu:after {
	transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
}
.open {
    opacity: 1!important;
    transition: opacity 1s, visibility 0s linear 0.3s!important;
}
.header__nav-mobile {
    width: 50%;
    background: #FAFAFA;
    position: absolute;
    top: 10%;
    left: -15px;
    z-index: 1;
    opacity: 0;
    display: none;
    @include breakpoint($bp-1024) {
        display: block;
    }

}
.ul-header--mobile {
    flex-direction: column;
}
.nav-li--mobile {
    padding: 20px;
}