.service {
    background: url(../images/6-bg.jpg);
    background-repeat: no-repeat;
    @include breakpoint($bp-1441) {
        background-position: top center;
    }
    @include breakpoint($bp-769) {
        background-position: top left;
    }
    @include breakpoint($bp-426) {
        background-size: cover;
    }
    &-content {
        padding: 150px 0 150px;
        max-width: 658px;
        @include breakpoint($bp-1024) {
            max-width: 600px;
        }
        @include breakpoint($bp-997) {
            max-width: 500px;
        }
        @include breakpoint($bp-769) {
            max-width: 100%;
        }
        @include breakpoint($bp-426) {
            padding: 90px 0 65px;
        }
    }
    &-nav {
        color: $white;
        margin-bottom: 50px;
    }
    &-li {
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        padding-left: 69px;
        position: relative;
        margin-bottom: 12px;
        &::before {
            display: block;
            content: '';
            width: 45px;
            height: 13px;
            background: url(../images/service-li.png);
            position: absolute;
            top: 7px;
            left: 0;
        }
        @include breakpoint($bp-769) {
            font-size: 14px;
            line-height: 26px;
        }
    }
    &-block {
        border: 2px solid #FF4200;
        box-sizing: border-box;
        border-radius: 50px 10px;
        max-width: 629px;
        padding: 19px 25px;
        display: flex;
        align-items: center;
        @include breakpoint($bp-769) {
            flex-direction: column;
        }
        &__img {
            margin-right: 27px;
            @include breakpoint($bp-769) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
        &__text {
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            @include breakpoint($bp-769) {
                font-size: 14px;
                line-height: 26px;
            }
        }
    }
}