.slider {
    background: url(../images/3-bg.jpg);
    background-repeat: no-repeat;
    padding: 10px 0;
    @include breakpoint($bp-1200) {
        padding: 10px 80px;
        background-position: center;
    }
}
.responsive {
    display: flex;
    align-items: center;

    max-width: 1000px;
    margin: 50px auto 0;
}
.slider-block {
    display: flex!important;
    align-items: center;
    justify-content: center;
    height: 64px!important;
    margin-right: 35px;
}
