<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer__logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="footer__info">
                <div class="footer-info-text">
                    ООО ХолодМаш    ИНН 420104844700
                </div>
                <a href="">Политика конфиденциальности</a>
            </div>
            <div class="footer__phone">
                <div class="footer__number">
                    <a href="tel:+88002661666">8 800 266 16 66 </a>
                </div>
                <a href="tel:+">Заказать звонок</a>
            </div>
            <div class="footer__author">
                Сделано:
                <div class="footer__author__img">
                    <img src="assets/images/f5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
