<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header__logo">
                <img src="assets/images/logo.png" alt="">
            </div>
            <div class="header__nav">
                <nav class="nav-header">
                    <ul class="ul-header">
                        <li class="nav-li">О бренде</li>
                        <li class="nav-li">Ассортиментная матрица</li>
                        <li class="nav-li">Расчёт заработка</li>
                        <li class="nav-li">Бизнес под ключ</li>
                    </ul>
                </nav>
            </div>
            <div class="header__tel">
                <a href="tel:+88002661666">8 800 266 16 66</a>
            </div>
        </div>
    </div>
</header>
